# --- Kotlin/Gradle/IDE ---
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea/
.idea/**/workspace.xml
*.log

# --- Android ---
local.properties
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
androidApp/**/google-services.json

# --- iOS / Compose Multiplatform ---
iosApp/**/DerivedData/
iosApp/**/build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/*.xcscmblueprint
Pods/
*.ipa
iosApp/**/GoogleService-Info.plist

# --- Kotlin/Native & tools ---
.konan/
**/sqldelight/databases/**

# --- OS cruft ---
.DS_Store
Thumbs.db

# --- Env/Secrets ---
.envnode_modules/
